---
name: hardcoded-config
description: Block hardcoded configuration values that should come from Application config
action: block
patterns:
  - regex: 'upload_path\s*=\s*["''](?!/).*uploads'
    message: |
      Hardcoded upload paths detected. Use Application.get_env/2 instead.

      In config/dev.exs:
        config :my_app, :upload_path, "priv/static/uploads"

      In your code:
        upload_path = Application.get_env(:my_app, :upload_path)

  - regex: '(max_file_size|file_size_limit)\s*=\s*\d{7,}'
    message: |
      Hardcoded file size limit detected. Move to application config.

      In config/config.exs:
        config :my_app, :max_file_size, 10_000_000

      In your code:
        max_size = Application.get_env(:my_app, :max_file_size)

  - regex: 'allowed_extensions\s*=\s*\[.*\]|\[["'']\.jpg["''].*["'']\.png["'']\]'
    message: |
      Hardcoded allowed extensions detected. Move to application config.

      In config/config.exs:
        config :my_app, :allowed_extensions, ~w(.jpg .jpeg .png .gif)

      In your code:
        allowed = Application.get_env(:my_app, :allowed_extensions)
